module OpenAPI.Data exposing (Byte, decoder, encode)

import Json.Decode as Decode exposing (Decoder)
import Json.Encode as Encode


type alias Byte =
    String


byteDecoder : Decoder Byte
decoder =
    Decode.string


byteEncode : Byte -> Encode.Value
byteEncode model =
    Encode.string model
