module OpenAPI.Data exposing (DateTime, dateTimeDecoder, dateTimeEncode, dateTimeToString)

import Iso8601
import Json.Decode as Decode exposing (Decoder)
import Json.Encode as Encode
import Result
import Time


type alias DateTime =
    Time.Posix


dateTimeDecoder : Decoder DateTime
dateTimeDecoder =
    Decode.string
        |> Decode.andThen dateTimeDecodeIsoString


dateTimeEncode : DateTime -> Encode.Value
dateTimeEncode =
    Encode.string << dateTimeToString


dateTimeDecodeIsoString : String -> Decoder DateTime
dateTimeDecodeIsoString str =
    case Iso8601.toTime str of
        Result.Ok posix ->
            Decode.succeed posix

        Result.Err _ ->
            Decode.fail <| "Invalid date: " ++ str


dateTimeToString : DateTime -> String
dateTimeToString =
    Iso8601.fromTime
