module OpenApi.Data exposing (DateOnly, dateOnlyDecoder, dateOnlyEncode, dateOnlyToString)

import Iso8601
import Json.Decode as Decode exposing (Decoder)
import Json.Encode as Encode
import Result
import Time


type alias DateOnly =
    Time.Posix


dateOnlyDecoder : Decoder DateOnly
dateOnlyDecoder =
    Decode.string
        |> Decode.andThen dateOnlyDecodeIsoString


dateOnlyEncode : DateOnly -> Encode.Value
dateOnlyEncode =
    Encode.string << dateOnlyToString


dateOnlyDecodeIsoString : String -> Decoder DateOnly
dateOnlyDecodeIsoString str =
    case Iso8601.toTime (str ++ "T00:00:00.000Z") of
        Result.Ok posix ->
            Decode.succeed posix

        Result.Err _ ->
            Decode.fail <| "Invalid date: " ++ str


dateOnlyToString : DateOnly -> String
dateOnlyToString =
    String.left 10 << Iso8601.fromTime
